# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entornos
.env
.env.local
.env.*.local

# Compilados / builds
dist/
build/
.cache/
.tmp/

# Logs
logs
*.log
*.log.*
lerna-debug.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Tests / coverage
coverage/
.nyc_output/

# Docker (si llegan a usarlo)
docker-data/

# Monorepo (opcional)
*.tsbuildinfo
